@model Finnova.Core.Models.Conta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Conta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdBanco" class="control-label"></label>
                <select asp-for="IdBanco" class ="form-control" asp-items="ViewBag.IdBanco"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomeConta" class="control-label"></label>
                <input asp-for="NomeConta" class="form-control" />
                <span asp-validation-for="NomeConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoConta" class="control-label"></label>
                <select asp-for="IdTipoConta" class ="form-control" asp-items="ViewBag.IdTipoConta"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoInvestimento" class="control-label"></label>
                <select asp-for="IdTipoInvestimento" class ="form-control" asp-items="ViewBag.IdTipoInvestimento"></select>
            </div>
            <div class="form-group">
                <label asp-for="SaldoInicial" class="control-label"></label>
                <input asp-for="SaldoInicial" class="form-control" />
                <span asp-validation-for="SaldoInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoAtual" class="control-label"></label>
                <input asp-for="SaldoAtual" class="form-control" />
                <span asp-validation-for="SaldoAtual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
